.textarea-wrapper {
    position: relative;
    width: 100%;
    max-width: 500px;
  }
  
  .add-file {
    position: absolute;
    top: 10px;
    left: 10px;
    border-radius: 50%;
    border: none;
    background: gray;
    color:white;
    font-size: 20px;
    cursor: pointer;
    width: 32px;
    height: 32px; 
   }
  
  textarea {
    width: 100%;
    padding-left: 50px; /* space for + icon */
    padding-top: 10px;
    box-sizing: border-box;
    resize: none;

    flex: 1;
    border: none;
    outline: none;
    font-size: 14px;
  }

  .chat-input {
    position: relative;   
    display: flex;
    align-items: center;
    gap: 8px;
    width: 100%;
    max-width: 600px;
    border: 1px solid #ccc;
    border-radius: 25px;
    padding: 6px 10px;
    background: #fff;
  }
  
  .send-btn {
    border: none;
    background: gray; /* WhatsApp green */
    color: white;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    font-size: 18px;
    cursor: pointer;
  }
  